.tiptap.ProseMirror {
  --tt-inline-code-bg-color: hsl(220 14% 96%);
  --tt-inline-code-text-color: hsl(220 13% 18%);
  --tt-inline-code-border-color: hsl(220 13% 91%);
  --tt-codeblock-bg: hsl(220 14% 96%);
  --tt-codeblock-text: hsl(220 13% 18%);
  --tt-codeblock-border: hsl(220 13% 91%);
}

.dark .tiptap.ProseMirror {
  --tt-inline-code-bg-color: hsl(220 13% 18%);
  --tt-inline-code-text-color: hsl(220 14% 96%);
  --tt-inline-code-border-color: hsl(220 13% 26%);
  --tt-codeblock-bg: hsl(220 13% 15%);
  --tt-codeblock-text: hsl(220 14% 90%);
  --tt-codeblock-border: hsl(220 13% 26%);
}

/* =====================
   CODE FORMATTING
   ===================== */
.tiptap.ProseMirror {
  // Inline code
  code {
    background-color: var(--tt-inline-code-bg-color);
    color: var(--tt-inline-code-text-color);
    border: 1px solid var(--tt-inline-code-border-color);
    font-family: "JetBrains Mono NL", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    font-size: 0.875em;
    line-height: 1.4;
    border-radius: 6px;
    padding: 0.1em 0.2em;
  }

  // Code blocks
  pre {
    background-color: var(--tt-codeblock-bg);
    color: var(--tt-codeblock-text);
    border: 1px solid var(--tt-codeblock-border);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 0.9rem;
    border-radius: 8px;
    overflow-x: auto;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
      padding: 0;
    }
  }
}
